.ticker-buttons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 5px;
}
.mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
.messageCount {
    border: 1px solid gray;
}