<main>
    <h2>Live stock prices with WebSocket</h2>
    <div class="ticker-buttons">
        <ng-container *ngFor="let ticker of tickers">
            <button mat-raised-button attr.data-ticker="{{ticker}}" (click)="register(ticker)">
                {{ ticker }}
            </button>
        </ng-container>
    </div>
    <mat-grid-list cols="8" rowHeight="200px">
        <mat-grid-tile *ngFor="let price of prices">
            <app-price [price]="price" (remove)="removeCard($event)"> </app-price>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card>
        <mat-card-content>
            message count: {{messageCount}}
            <button mat-raised-button mat-primary (click)="destroyed$.next(true)">Kill WebSocket connection</button>
        </mat-card-content>
    </mat-card>
</main>