<mat-card>
    <mat-card-title>{{ price.ticker }}</mat-card-title>
    <mat-card-subtitle>{{ price.price }}</mat-card-subtitle>
    <mat-card-content>
        <p>
            {{ price.timestamp | date: 'H:MM:ss' }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="click()">
            Remove
        </button>
    </mat-card-actions>
   
</mat-card>